<html>

<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    body {
      font-family: 'Roboto', sans-serif;
    }

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 10px 10px;
      grid-auto-flow: row;
      grid-template-areas: "div1 img1 img2"
        "div2 img1 img2" "div3 div5 div6" "div4 div5 div6";
    }

    .div1 {
      grid-area:
        div1;
    }

    .div2 {
      grid-area: div2;
    }

    .div3 {
      grid-area: div3;
    }

    .div4 {
      grid-area: div4;
    }

    .img1 {
      grid-area: img1;
    }

    .img2 {
      grid-area: img2;
    }

    .div5 {
      grid-area: div5;
    }

    .div6 {
      grid-area: div6;
    }

    html,
    body,
    .container {
      height: 50%;
      margin: 0;
      margin: 10px;
    }

    .container {
      margin-top: 50px;
    }

    /* For presentation
      only, no need to copy the code below */
    .container * {
      border: 1px solid black;
      position: relative;
    }

    .header {
      display: flex;
      justify-content:
        space-between;
      align-items: end;
      padding: 10px;
    }

    .title {
      padding:
        10px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      max-width: 1000px;
      margin: auto;
      /* Adjust the size as needed */
    }

    .div1 {
      grid-area:
        div1;
      display: flex;
      flex-direction: column;
      padding-left: 20px;
    }

    .div1 h3 {
      margin-bottom: 10px;
      border: none;
      /* Remove the border */
      text-align: left;
      /* Align text to the left */
    }

    .div1 label {
      margin-bottom: 10px;
      border: none;
      /* Remove the border */
      text-align:
        left;
      /* Align text to the left */
    }

    .div2 {
      grid-area: div2;
      padding-left: 20px;
    }

    .div2 h3 {
      margin-bottom: 10px;
      border: none;
      /*
      Remove the border */
      text-align: left;
      /* Align text to the left */
    }

    .div4 h3 {
      border: none;
    }

    .div2 ul {
      list-style-type: none;
      padding: 0;
      border: none;
      /* Remove the
      border */
    }

    .div2 li {
      margin-bottom: 10px;
      border: none;
      /* Remove the
      border */
    }

    .key {
      border: none;
      /* Remove the border */
    }

    .value {
      color:
        #6bc4e7;
      /* Sky blue color for the values */
      border: none;
      /* Remove the
      border */
    }

    .div3,
    .div4,
    .div5 {
      padding-left: 20px;
      */
    }

    .div3 h3,
    h3 .div4 h3,
    .div5 h3 {
      border: none;
      margin-top: 20px;
      margin-bottom: 20px;
      /* Remove the border */
    }

    .mt-10 {
      margin-top: 10;
    }

    .div3 ul,
    .div4 ul,
    .div5 ul {
      list-style-type: disc;
      /* Use disc bullets for the list */
      padding-inline: 10px;
      border: none;
      /* Remove the border */
    }

    .div3 li,
    .div4 li,
    .div5 li {
      margin-bottom: 10px;
      border: none;
      /* Remove the
      border */
    }

    .img1,
    .img2 {
      position: relative;
      overflow: hidden;
    }

    .img1 img,
    .img2 img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .div6 {
      text-align: left;
      padding-inline: 10px;
    }

    .div6 h3 {
      border:
        none;
      /* Remove the border */
    }

    .progress-container {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 5px;
      border: none;

      /* Remove the border */
    }

    .progress-value-container {
      display: flex;
      flex-direction: row;
      align-items:
        center;
      border: none;
      justify-content: center;
      gap: 5px;
      width: 100%;
    }

    .montant-label {
      width: 170px;
    }

    .montant-container {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      border: none;
    }

    .montant-value {
      width: fit-content;

    }

    .border-0 {
      border: none;
    }

    .border-x-0 {
      border-left: none;
      border-right: none;
    }

    .label-container {
      /* Center the label */
      margin-bottom: 5px;
      /* Adjust
      as needed for spacing */
      border: none;
      /* Remove the border */
      width: 150px;
      /* Make it inherit the width from the parent */
      box-sizing: border-box;
      /*
      Include padding and border in the width calculation */
    }

    progress {
      width: 300px;
      height: 20px;
      appearance: none;
      border: none;
      /* Remove the border
      */
    }

    progress::-webkit-progress-bar {
      background-color: #ddd;
    }

    progress#progress1::-webkit-progress-value {
      background-color: #3498db;
      /*
      Blue color for the first progress bar */
    }

    progress#progress2::-webkit-progress-value {
      background-color: #e67e22;
      /*
      Orange color for the second progress bar */
    }

    .image-title {
      text-align: center;
      border: none;
      padding: 5px;
    }

    .ras {
      margin-top: 40px;
    }

    .font-bold {
      font-weight: bold;
    }

    * {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 19px;
    }

    .section-title {
      font-size: 19px;
    }

    .logo1 {
      width: 300px;
      height: 200px;
      object-fit: contain;
    }

    .logo2 {
      width: 160px;
      height: 160px;
      object-fit: contain;
    }

    .progress-value {
      display: block;
      margin-left: 10px;
      /* Adjust as needed for spacing */
      color:
        #000000;
      /* White color for the text */
      font-weight: bold;
      border: none;
      text-align: center;
      width: 50px;
      /* Remove the border */
    }

    .div1,
    .div2,
    .div3,
    .div4,
    .div5,
    .div6 {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  </style>
</head>

<body>
  <header>
    <div class='header'>
      <div class='logo-left '><img class="logo1"
          src='https://arepcs-app.ma/_ipx/w_128,q_75/%2F_next%2Fstatic%2Fmedia%2Flogo-arep.5497ce88.png?url=%2F_next%2Fstatic%2Fmedia%2Flogo-arep.5497ce88.png&w=128&q=75' alt='Left Logo' /></div>

      <div class='title'>Marché Nᵒ{{num_marche}}
        <br> <br />
        <div class="title">{{title}}</div>
      </div>
      {{!-- <div class='logo-right '><img class="logo2"
          src='https://storage.googleapis.com/arep-b1382.appspot.com/images/3baa9b8d107643acd6907d9241b7c7331.jpg'
          alt='Right Logo' />
      </div> --}}
    </div>
  </header>
  <div class='container'>
    <div class='div1'>
      <h3 class="section-title">Cadre administratif</h3>
      <label class="mt-10">
        <input type='radio' name='cadreType' value='programmation' {{#eq cadre_administratif.label 'programmation'
          }}checked{{/eq}} />
        Programmation {{#eq cadre_administratif.label 'programmation'}}({{cadre_administratif.value}}%){{/eq}}
      </label>
      <label>
        <input type='radio' name='cadreType' value='convention' {{#eq cadre_administratif.label 'convention'
          }}checked{{/eq}} />
        Convention {{#eq cadre_administratif.label 'convention'}}({{cadre_administratif.value}}%){{/eq}}
      </label>
    </div>
    <div class='div2'>
      <h3 class="section-title">Données clés</h3>
      <ul>
        <li><span class='key'>Montant du Marché :</span>
          <span class='value sky-blue'>{{formatCurrency montant_du_marche}}</span>
        </li>
        <li><span class='key'>Titulaire :</span>
          <span class='value sky-blue'>{{titulaire}}</span>
        </li>
        <li><span class='key'>Date OS :</span>
          <span class='value sky-blue'>{{date_os}}</span>
        </li>
        <li><span class='key'>Délai prévisionnel :</span>
          <span class='value sky-blue'>{{delai_previsionnel}} mois</span>
        </li>
      </ul>
    </div>
    <div class='div3'>
      <h3 class="section-title">Consistance des travaux/prestations</h3>
      <ul>
        {{#if consistance_des_travaux.length}}
        {{#each consistance_des_travaux}}
        <li>{{this}}</li>
        {{/each}}
        {{else}}
        <li>Rien à signaler</li>
      </ul>
      {{/if}}
    </div>
    <div class='div4'>
      <h3 class="section-title">Points de Blocage</h3>
      <ul>
        {{#if points_de_blocage.length}}
        {{#each points_de_blocage}}
        <li>{{this}}</li>
        {{/each}}
        {{else}}
        <li>Rien à signaler</li>
        {{/if}}
      </ul>
      <br></br>
    </div>
    <div class='img1'>
      <div class='image-title font-bold'>
        {{description1}}
      </div>
      <img class="border-x-0" src={{image1}} alt='Image 1' />
    </div>
    <div class='img2'>
      <div class='image-title font-bold'>
        {{description2}}
      </div>
      <img class="border-x-0" src={{image2}} alt='Image 2' />
    </div>
    <div class='div5'>
      <h3 class="section-title">Points Particuliers</h3>
      <ul>
        {{#if points_particuliers.length}}
        {{#each points_particuliers}}
        <li>{{this}}</li>
        {{/each}}
        {{else}}
        <li>Rien à signaler</li>
        {{/if}}
      </ul>
      <br> </br>
    </div>
    <div class='div6'>
      <h3 class="section-title">Avancement Réalisé au {{date}}</h3>

      <div class='progress-container'>
        <label class='label-container' for='progress1'>AV Délai</label>
        <div class="progress-value-container">
          <progress id='progress1' value='{{av_delai}}' max='100'></progress>
          <span class='progress-value'>{{av_delai}}%</span>
        </div>
      </div>

      <div class='progress-container'>
        <label class='label-container' for='progress2'>AV Physique</label>
        <div class="progress-value-container">
          <progress id='progress2' value='{{av_physique}}' max='100'></progress>
          <span class='progress-value'>{{av_physique}}%</span>
        </div>
      </div>

      <div class='progress-container'>
        <label class='label-container' for='progress3'>AV Financier</label>
        <div class="progress-value-container">
          <progress id='progress3' value='{{av_financier}}' max='100'></progress>
          <span class='progress-value'>{{av_financier}}%</span>
        </div>
      </div>

      <div class='montant-container'>
        <label class='montant-label  border-0'>Montant payé</label>
        <span class='montant-value font-bold border-0'>{{formatCurrency montant_paye}} DH</span>
      </div>
    </div>
  </div>
</body>

</html>